.description {
    margin-bottom: 100px;
    text-align: center;
}

.description h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.description p {
    margin-top: 0;
    margin-bottom: 50px;
}