body{
background: #f2f2f2;
font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.grid-container
{
    display: grid;
    grid-gap: 0;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    margin:0;
}

.grid-title
{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:1;
}

.grid-bar
{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
}

.grid-error
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    padding-top: 15px;
}

.grid-list
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

.search {
width: 100%;
position: relative;
display: flex;
}

.searchTerm {
width: 150%;
border: 3px solid #dbf3fa;
border-right: none;
padding: 5px;
height: 36px;
border-radius: 5px 0 0 5px;
outline: none;
color: #9DBFAF;
}

.searchTerm:focus{
color: rgba(39, 32, 32, 0.376);
}

.searchButton {
width: 40px;
height: 36px;
border: 1px solid #dbf3fa;
background: #dbf3fa;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
width: 30%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#projectUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #projectUL li a {
    border: 1px solid #dbf3fa; /* Link border */
    margin-top: -1px; /* Prevent double borders */
    background-color: white; /* White background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    font-style: italic;
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #projectUL li a:hover:not(.header) {
    color: #2b88a1; /* Highlight when hovering */
    border: #2b88a1;
  }