.title-slide{
    top: 34.5px;
    display: block;
}

.title-slide h4 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.title-slide h5 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.title-slide div {
    grid-row-start: 3;
    grid-row-end: 4;
}

